<div class="authincation h-100">
    <div class="container h-100">
        <div class="row justify-content-center h-100 align-items-center">
            <div class="col-md-6">

                <div class="authincation-content">
                    <div class="row no-gutters">
                        <div class="col-xl-12">
                            <div class="auth-form">
                                <div class="text-center mb-3">
                                    <a routerLink="/"><img src="./assets/images/logo-full.png" alt=""></a>
                                </div>
                                <h4 class="text-center mb-4 text-white">Sign up your account</h4>
                                <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
                                    <div class="form-group">
                                        <label class="mb-1 text-white"><strong>Username</strong></label>
                                        <input type="text" class="form-control" placeholder="username" formControlName="user_name">
                                        <p class="lblError"
                                            *ngIf="signupForm.get('user_name')!.hasError('required') && !signupForm.get('user_name')!.pristine">
                                            UserName is Required
                                        </p>
                                    </div>
                                    <div class="form-group">
                                        <label class="mb-1 text-white"><strong>Email</strong></label>
                                        <input type="email" class="form-control" placeholder="hello@example.com" formControlName="user_email">
                                        <p class="lblError"
                                            *ngIf="signupForm.get('user_email')!.hasError('required') && !signupForm.get('user_email')!.pristine">
                                            Please provide your E-mail
                                        </p>
                                        <p class="lblError"
                                            *ngIf="signupForm.get('user_email')!.hasError('email') && !signupForm.get('user_email')!.pristine">
                                            E-mail is Invalid</p>
                                    </div>
                                    <div class="form-group">
                                        <label class="mb-1 text-white"><strong>Password</strong></label>
                                        <input type="password" class="form-control" value="" formControlName="user_password">
                                        <p class="lblError"
                                            *ngIf="signupForm.get('user_password')!.hasError('required') && !signupForm.get('user_password')!.pristine">
                                            Password is Required
                                        </p>
                                    </div>
                                    <div class="form-group">
                                        <label class="mb-1 text-white"><strong>Confirm Password</strong></label>
                                        <input type="password" class="form-control" value="" formControlName="user_confirmPassword">
                                        <p class="lblError"
                                            *ngIf="signupForm.get('user_confirmPassword')!.hasError('required') && !signupForm.get('user_confirmPassword')!.pristine">
                                            Confirm Password is Required
                                        </p>
                                        <p class="lblError"
                                            *ngIf="signupForm.get('user_confirmPassword')?.value != signupForm.get('user_password')?.value">
                                            Incorrect Password, Please check this again.
                                        </p>
                                    </div>
                                    <div class="text-center mt-4">
                                        <button type="submit" [disabled]="signupForm.invalid" class="btn bg-white text-primary btn-block">Sign me
                                            up</button>
                                    </div>
                                </form>
                                <div class="new-account mt-3">
                                    <p class="text-white">Already have an account? <a class="text-white"
                                            [routerLink]="'/login'">Sign in</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>