<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Talents Datatable</h4>

            </div>
            <div class="card-header">
                <div class="">
                    <form [formGroup]="pageLengthForm" class="form-inline">
                        <div class="form-group">
                            <label>Page : </label>
                            <select class="form-control default-select" (change)="changePageLength($event)"
                                formControlName="pageLength">
                                <option *ngFor="let item of pageLengthList; let i = index" [value]="item">
                                    {{ item }}
                                </option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="dataTables_filter">
                    <app-pagination [count]="itemsCount" [page]="itemsPage" [perPage]="itemsPerPage"
                        (changePage)="onChangePage($event)"></app-pagination>
                </div>
            </div>
            <div class="card-body">
                <app-grid [items]="talents" [columns]="columns" [itemsCount]="itemsCount"
                    (clickRow)="onPeritemSelect($event)"></app-grid>
            </div>
        </div>
    </div>
</div>

<!-- talent detail modal -->
<!-- The Modal -->
<div class="modal fade" [ngClass]="{'show' : isPerDetail === true}"
    [ngStyle]="{'display' : isPerDetail == true ? 'block' : 'none'}">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">{{selectedTalent?.first_name}} {{ selectedTalent?.last_name}}</h4>
                <button type="button" class="close" (click)="onCloseModal()">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body talent-detail">
                <div class="card">
                    <div class="card-body d-flex justify-content-between border-bottom profile-bx">
                        <div [ngClass]="{'col-6' : (selectedTalent?.video_id != undefined && selectedTalent?.video_id != ''), 'col-12' : selectedTalent?.video_id == undefined || selectedTalent?.video_id == '' }">
                            <div class="profile-image mb-4 text-center">
                                <img [src]="(selectedTalent?.talent_logo!= undefined && selectedTalent?.talent_logo != '') ? configService.config.hostAddress + selectedTalent?.talent_logo: 'assets/images/1.jpg'"
                                    class="rounded-circle" width="120" height="120" alt="Company Logo">
                            </div>
                            <h4 class="fs-22 text-black mb-1 text-center">{{selectedTalent?.first_name}} {{
                                selectedTalent?.last_name}}</h4>
                            <h4 class="fs-22 text-black mb-1 text-center">Current Role :
                                {{selectedTalent?.current_jobTitle}}</h4>
                            <p class="mb-2 text-center">Company : <label
                                    class="text-info">{{selectedTalent?.company?.toString()}}</label></p>
                            <p class="mb-2 text-center">Education : <label
                                    class="text-info">{{selectedTalent?.education??
                                    "competitive"}}</label></p>
                            <p class="mb-2 text-center">Email : <label class="text-info">{{selectedTalent?.talent_email
                                    ??
                                    ""}}</label></p>
                            <p class="mb-2 text-center">Phone : <label
                                    class="text-info">{{selectedTalent?.phone_number?.phoneNumber ?? ""}}</label></p>
                            <p class="mb-2 text-center">Experience Years : <label
                                    class="text-info">{{(selectedTalent?.years_experience == undefined) ||
                                    (selectedTalent?.years_experience == "") ? "No Experience" :
                                    selectedTalent?.years_experience}}</label>
                            </p>
                            <p class="mb-2 text-center">Region : <label class="text-info">{{selectedTalent?.region?.city
                                    ??
                                    "No city" }} , {{selectedTalent?.region?.state ?? " ," }}
                                    {{ selectedTalent?.region?.country}}</label></p>
                            <p class="mb-2 text-center">Resume : <label class="text-info">{{selectedTalent?.resume ??
                                    ""}}</label></p>
                            <div class="p-2">
                                <h4 class="fs-22 text-black font-w600">Summary</h4>
                                <span class="text-black">{{selectedTalent?.current_jobDescription}}</span>
                            </div>
                        </div>
                        <div class="col-6" *ngIf="selectedTalent?.video_id != undefined && selectedTalent?.video_id != ''">

                            <app-vdo-player [isVideoList]="true" [videoItems]="videoItems" [currentVideo]="videoItems[0]"></app-vdo-player>
                        </div>

                    </div>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-sm" (click)="onCloseModal()">Close</button>
            </div>

        </div>
    </div>
</div>
<div [ngClass]="{'modal-backdrop show' : isPerDetail}"></div>
<!-- end talent detail modal -->